:root
{
	--background-color: black;
	--highlight-color: green;
	--text-color: white;
}

body
{
	padding:0;
	color: var(--text-color);
	background-color: var(--background-color);
}

#header
{
	width:90%;
	margin: 0 auto 50px auto;
}

h1
{
	text-align: center;
	font-size: 3em;
}

.ui-slider-horizontal .ui-state-default
{
	background: var(--highlight-color);
	width: 15px;
}

#container
{
	width:600px;
	margin: 20px auto;
}

#brackets, #tax-stuff
{
	display: inline-block;
	font-size: 1.1em;
}

#tax-stuff
{
	position: relative;
	top: -111px;
	left: 20px;
}

table
{
	border-color: var(--text-color);
	border-width: 0.5px;
	border-style: double;
}

#brackets tr:first-child
{
	background-color: var(--highlight-color);
}

th
{
	padding:10px;
}

.right
{
	text-align:right;
	padding-right: 10px;
}

.left
{
	text-align:left;
}
