:root
{
	--background-color: black;
	--highlight-color: green;
	--text-color: white;
}

body
{
	padding:0;
	color: var(--text-color);
	background-color: var(--background-color);
}

#header
{
	width:90%;
	margin: 0 auto 50px auto;
}

h1
{
	text-align: center;
	font-size: 3em;
}

.ui-slider-horizontal .ui-state-default
{
	background: var(--highlight-color);
	width: 15px;
}

#container
{
	width:603px;
	margin: 20px auto;
}

#brackets, #tax-stuff
{
	display: inline-block;
	font-size: 1.1em;
}

#tax-stuff
{
	position: relative;
	top: -190px;
	left: 20px;
}

.rate-selector, .income
{
	background-color: var(--background-color);
	color: var(--text-color);
	padding: 4px;
	font-size: 15px;
	border-opacity:0.2;
}

.rate-selector
{
	width: 40px;
}

.income
{
	width: 100px;
}

table
{
	border-color: var(--text-color);
	border-width: 0.5px;
	border-style: double;
}

#brackets tr:first-child
{
	background-color: var(--highlight-color);
}

th
{
	padding:10px;
}

.right
{
	text-align:right;
	padding-right: 10px;
}

.left
{
	text-align:left;
}

#footer
{
	text-align: center;
}

.footer-button
{
	padding:10px;
	border-radius:20px;
	border-style: solid;
	background-color: var(--background-color);
	text-decoration: none;
	min-width: 150px;
	text-align: center;
	display: inline-block;
	/*Changes for hover*/
	border-color: var(--highlight-color);
	color: var(--highlight-color);
}

.footer-button:hover
{
	border-color: var(--text-color);
	color: var(--text-color);
	opacity:0.9;
}

.footer-spacer
{
	display: inline-block;
	width:20px;
}
